// If you need a handy color picker try http://hslpicker.com
// Or look at octopress/sass/base/solarized.scss for inspiration. The colors in there are excellent.
// The following are ordered in terms of vague importance.

//red color
$main-color:  darken(#FFF,2);

//This controls the background. 
$page-bg: $main-color;

//This controls the header. 
$header-bg: $main-color;
$title-color: #3B3B3B;
$subtitle-color: lighten($title-color,0);

//This controls the navigation br
$nav-bg: darken($main-color, 2);
$nav-bg-back: linear-gradient(lighten($nav-bg, 3), $nav-bg, darken($nav-bg, 3));
$link-color: darken($title-color, 10);
$link-color-hover: darken($title-color, 20);
$link-color-visited: darken($title-color,10);
$link-color-active: lighten($link-color-hover,10);

$nav-link-color: darken($main-color, 20);
$nav-link-color-hover: lighten($main-color, 20);
$nav-link-color-visited: darken($main-color, 20);

//This controls the sidebar

$sidebar-color: darken($main-color, 100);
$sidebar-link-color: darken($main-color, 100);
$sidebar-link-color-hover:  darken($main-color, 30);

//how links appear overall
//I normally do not touch this. Most colors I have tried just work with this setting. 
$footer-bg: #ccc !default;
$footer-bg-back: linear-gradient(lighten($footer-bg, 8), $footer-bg, darken($footer-bg, 11));